{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    {#
    Parameters:
      * url (string): route name & query (string): route parameter
    #}
    {% set url = 'movie_index' %}

    <h1>{{ pagination.getTotalItemCount }} Movies</h1>
    {{ knp_pagination_render(pagination) }}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Body</th>
                <th>CardImages</th>
                <th>Cast</th>
                <th>Cert</th>
                <th>Class</th>
                <th>Directors</th>
                <th>Duration</th>
                <th>Genres</th>
                <th>Headline</th>
                <th>KeyArtImages</th>
                <th>LastUpdated</th>
                <th>Quote</th>
                <th>Rating</th>
                <th>ReviewAuthor</th>
                <th>SkyGoId</th>
                <th>SkyGoUrl</th>
                <th>Sum</th>
                <th>Synopsis</th>
                <th>Url</th>
                <th>Videos</th>
                <th>ViewingWindow</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in pagination %}
            <tr>
                <td><a href="{{ path('movie_show', {'id': movie.id}) }}">{{ movie.id }}</a></td>

                <td>{{ movie.body }}</td>
                <td>{{ movie.image|imageRender('cardImages')|raw }}</td>
                <td>{{ movie.cast }}</td>
                <td>{{ movie.cert }}</td>
                <td>{{ movie.class }}</td>
                <td>{{ movie.directors }}</td>
                <td>{{ movie.duration }}</td>
                <td>{{ movie.genres }}</td>
                <td>{{ movie.headline }}</td>
                <td>{{ movie.image|imageRender('keyArtImages')|raw }}</td>
                <td>{{ movie.lastUpdated }}</td>
                <td>{{ movie.quote }}</td>
                <td>{{ movie.rating }}</td>
                <td>{{ movie.reviewAuthor }}</td>
                <td>{{ movie.skyGoId }}</td>
                <td>{{ movie.skyGoUrl }}</td>
                <td>{{ movie.sum }}</td>
                <td>{{ movie.synopsis }}</td>
                <td>{{ movie.url }}</td>
                <td>{{ movie.videos }}</td>
                <td>{{ movie.viewingWindow }}</td>
                <td>{{ movie.year }}</td>
                <td>
                    <a href="{{ path('movie_show', {'id': movie.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="24">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
